/* app global css */
.body--light {
  .bg-inherit {
    background-color: rgb(255, 255, 255);
  }
  .bg-inherit-weak {
    background-color: rgb(185, 185, 185);
  }
  .bg-inherit-weaker {
    background-color: rgb(115, 115, 115);
  }
  .bg-inherit-weakest {
    background-color: rgb(45, 45, 45);
  }

  .text-inherit {
    color: rgb(255, 255, 255);
  }
  .text-inherit-weak {
    color: rgb(185, 185, 185);
  }
  .text-inherit-weaker {
    color: rgb(115, 115, 115);
  }
  .text-inherit-weakest {
    color:  rgb(45, 45, 45);
  }
}

.body--dark {
  .bg-inherit {
    background-color: rgb(0, 0, 0);
  }
  .bg-inherit-week {
    background-color: rgb(70, 70, 70);
  }
  .bg-inherit-weaker {
    background-color: rgb(140, 140, 140);
  }
  .bg-inherit-weakest {
    background-color: rgb(210, 210, 210);
  }

  .text-inherit {
    color: rgb(0, 0, 0);
  }
  .text-inherit-weak {
    color: rgb(70, 70, 70);
  }
  .text-inherit-weaker {
    color: rgb(140, 140, 140);
  }
  .text-inherit-weakest {
    color: rgb(210, 210, 210);
  }
}

.q-tree {
  font-size: 15px;
}
.q-table th{
  font-weight: bold;
  font-size: 14px;
}
.q-table td {
  font-weight: bold;
  font-size: 13px;
}
.q-breadcrumbs {
  font-size: 17px;
}
